@import '../../../styles/base';
@import '../../../styles/mixin';
@import '../../../styles/variables';
@import '../../../styles/components';
@import '../../../styles/utilities';

.welcome {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 2rem;

    @include for-tab-port {
        padding: 10rem 5rem;
        justify-content: space-between;
    }

    &__msg {
        text-align: left;
        width: 100%;
        margin-top: 10rem;
        
        @include for-tab-port {
            width: 60%;
            flex-basis: 60%;
            margin-left: 2rem;
        }
        
        @include for-desktop {
            width: 30%;
            flex-basis: 30%;
            margin-top: 0;
            margin-left: 5rem;
        }
    }

    &__title {
        font-weight: 700;
        letter-spacing: 0.5px;
        color: $color-black;
        font-size: 2.5rem;
        line-height: 1.2;
        margin-bottom: 1.5rem;

        @include for-tab-port {
            font-size: 3rem;
            margin-bottom: 0;
            line-height: 1.5;

        }
        @include for-desktop {
            font-size: 3.5rem;
        }
    }

    &__text {
        font-family: 'Fira Sans', sans-serif;
        font-weight: 400;
        font-size: 1.5rem;
        display: block;
        color: $color-text;
    }

    &__img {
        width: 40%;
        margin-top: -10rem;
        @include for-tab-port {
            margin-top: 0;
            width: 60%;
            flex-basis: 60%;
            margin-left: 30rem;
            display: flex;
            justify-content: space-between;
        }

        @include for-desktop {
            padding-top: 5rem;
            width: 50%;
            flex-basis: 50%;
            margin-left: 0;
        }
    }

    &__img .img-one,
    &__img .img-two {
        width: 100%;
        @include for-tab-port {
            width: 50%;
        }
    }
    &__img .img-one {
        margin-left: 15rem;
        @include for-tab-port {
            margin-left: 20rem;
            width: 15rem;
        }

        @include for-desktop {
            margin-left: 10rem;
        }
    }
    
    &__img .img-two {
        display: none;
        
        @include for-desktop {
            display: block;
            margin-left: 10rem;
            align-self: flex-end;
        }
    }
    
    &__img img {
        width: 100%;
        display: block;
        height: auto;
        object-fit: cover;
    }

}

.img-one img {
    transform-origin: left;
}

